<!-- 
    Apttus Config & Pricing
    PriceDimension
     
    @2010-2012 Apttus Inc. All rights reserved.

 -->
<apex:page standardController="Apttus_Config2__PriceDimension__c" 
	  	   extensions="Apttus_Config2.PriceDimensionController" 
           showHeader="false" 
           sidebar="false" 
           tabStyle="Apttus_Config2__PriceDimension__c">	
    
    <style>
		textarea {
			width: 40%;
		}
	</style>
	
	<apex:sectionHeader title="{!$ObjectType.Apttus_Config2__PriceDimension__c.Label & ' ' & $Label.Apttus_Config2__Edit}" 
						subtitle="{!$Label.Apttus_Config2__New & ' ' & $ObjectType.Apttus_Config2__PriceDimension__c.Label}" 
						rendered="{!ISBLANK(Apttus_Config2__PriceDimension__c.Id) && NOT(isLookupMode)}" />
						
	<apex:sectionHeader title="{!$ObjectType.Apttus_Config2__PriceDimension__c.Label & ' ' & $Label.Apttus_Config2__Edit}" 
						subtitle="{!Apttus_Config2__PriceDimension__c.Name}" 
						rendered="{!NOT(ISBLANK(Apttus_Config2__PriceDimension__c.Id)) && NOT(isLookupMode)}" />
	
	<apex:sectionHeader title="{!$ObjectType.Apttus_Config2__PriceDimension__c.Fields.Apttus_Config2__AttributeId__c.Label}" 
						subtitle="{!$Label.Apttus_Config2__Lookup}" 
						rendered="{!isLookupMode}" />
						
	<apex:form id="idPriceDimensionSO">
		
		<!--  required fields -->
		<apex:outputText value="{!Apttus_Config2__PriceDimension__c.Apttus_Config2__ContextType__c}" rendered="false" />
		<apex:outputText value="{!Apttus_Config2__PriceDimension__c.Apttus_Config2__BusinessObject__c}" rendered="false" />
		<apex:outputText value="{!Apttus_Config2__PriceDimension__c.AttributeId__r.Name}" rendered="false" />
		<apex:outputText value="{!Apttus_Config2__PriceDimension__c.AttributeId__r.Apttus_Config2__AttributeGroupId__c}" rendered="false" />
		
		<apex:pageBlock id="idPriceDimensionBlock" 
						title="{!$ObjectType.Apttus_Config2__PriceDimension__c.Label & ' ' & $Label.Apttus_Config2__Edit}" 
						mode="edit" 
						rendered="{!NOT(isLookupMode)}">
			<apex:pageMessages />
			<apex:pageBlockButtons location="both">
		        <apex:commandButton value="{!$Label.Apttus_Config2__Save}" action="{!doSave}" />
		        <apex:commandButton value="{!$Label.Apttus_Config2__SaveAndNew}" action="{!doSaveAndNew}" />
		        <apex:commandButton value="{!$Label.Apttus_Config2__Cancel}" action="{!doCancel}" immediate="true"/>
		    </apex:pageBlockButtons>
		    <apex:pageBlockSection id="idPriceDimensionSection" 
		    					   title="{!$Label.Apttus_Config2__Information}" 
		    					   columns="1" 
		    					   collapsible="false" >
		    	
		    	<apex:pageBlockSectionItem >
					<apex:outputLabel value="{!$ObjectType.Apttus_Config2__PriceDimension__c.Fields.Name.Label}" 
									  for="idName" />
					<apex:outputPanel styleClass="requiredInput" layout="block">
   						<apex:outputPanel styleClass="requiredBlock" layout="block"/>
  						<apex:inputField id="idName" 
  										 value="{!Apttus_Config2__PriceDimension__c.Name}" 
  										 required="false" />
 					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="{!$ObjectType.Apttus_Config2__PriceDimension__c.Fields.Apttus_Config2__ContextType__c.Label}" 
									  for="idContextType" />
					<apex:outputPanel styleClass="requiredInput" layout="block">
   						<apex:outputPanel styleClass="requiredBlock" layout="block"/>
  						<apex:selectList id="idContextType" 
  										 value="{!contextType}" 
  										 multiselect="false" 
  										 required="false" 
  										 size="1" >
							<apex:selectOptions value="{!contextTypeItems}"></apex:selectOptions>
							<apex:actionSupport event="onchange" reRender="idPriceDimensionSection" />
						</apex:selectList>
 					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				
		    	<apex:pageBlockSectionItem >
					<apex:outputLabel value="{!$ObjectType.Apttus_Config2__PriceDimension__c.Fields.Apttus_Config2__BusinessObject__c.Label}" 
									  for="idBusinessObject" />
					<apex:outputText id="idBusinessObject" value="{!BusinessObjectLabel}" />
				</apex:pageBlockSectionItem>
				
				<apex:pageBlockSectionItem rendered="{!isLineItemContext}" >
					<apex:outputLabel value="{!$ObjectType.Apttus_Config2__PriceDimension__c.Fields.Apttus_Config2__Datasource__c.Label}" 
									  for="idDatasource" />
					<apex:outputPanel styleClass="requiredInput" layout="block">
   						<apex:outputPanel styleClass="requiredBlock" layout="block"/>
  						<apex:selectList id="idDatasource" 
  										 value="{!Apttus_Config2__PriceDimension__c.Apttus_Config2__Datasource__c}" 
  										 multiselect="false" 
  										 required="false" 
  										 size="1" >
							<apex:selectOptions value="{!fieldItems}"></apex:selectOptions>
							<apex:actionSupport event="onchange" reRender="idPriceDimensionSection" />
						</apex:selectList>
 					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				
				<apex:inputField value="{!Apttus_Config2__PriceDimension__c.Apttus_Config2__RelationType__c}" 
								 rendered="{!isLineItemContext}" />
				
				<apex:pageBlockSectionItem rendered="{!isProductAttributeContext}" >
				
					<apex:outputLabel value="{!$ObjectType.Apttus_Config2__PriceDimension__c.Fields.Apttus_Config2__AttributeId__c.Label}" 
									  for="idProductAttribute" />
					<apex:panelGrid columns="2">
						<apex:outputPanel styleClass="requiredInput" layout="block">
	  						<apex:outputPanel styleClass="requiredBlock" layout="block"/>
	  						<apex:inputText id="idProductAttribute"
	  										 value="{!productAttributeLabel}"  
	  										 size="25"
	  										 disabled="true" />
						</apex:outputPanel>
						<apex:commandLink action="{!doProductAttributeLookup}" >
	               			<img src="/s.gif" class="lookupIcon" 
		        						  	  onblur="this.className='lookupIcon';" 
		        						  	  onfocus="this.className='lookupIconOn';" 
		        						  	  onmouseout="this.className='lookupIcon';" 
		        						  	  onmouseover="this.className='lookupIconOn';" />
	                	</apex:commandLink>
	                        		
					</apex:panelGrid>
				</apex:pageBlockSectionItem>
				
				<apex:pageBlockSectionItem rendered="{!isFormulaFieldContext}" >
					<apex:outputLabel value="{!$ObjectType.Apttus_Config2__PriceDimension__c.Fields.Apttus_Config2__Datasource__c.Label}" 
									  for="idDatasource2" />
					<apex:outputPanel styleClass="requiredInput" layout="block">
   						<apex:outputPanel styleClass="requiredBlock" layout="block"/>
  						<apex:selectList id="idDatasource2" 
  										 value="{!Apttus_Config2__PriceDimension__c.Apttus_Config2__Datasource__c}" 
  										 multiselect="false" 
  										 required="false" 
  										 size="1" >
							<apex:selectOptions value="{!formulaFieldItems}"></apex:selectOptions>
							<apex:actionSupport event="onchange" reRender="idPriceDimensionSection" />
						</apex:selectList>
 					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				
				<apex:pageBlockSectionItem rendered="{!isCustomContext}" >
					<apex:outputLabel value="{!$ObjectType.Apttus_Config2__PriceDimension__c.Fields.Apttus_Config2__Datasource__c.Label}" 
									  for="idDatasource3" />
					<apex:outputPanel styleClass="requiredInput" layout="block">
   						<apex:outputPanel styleClass="requiredBlock" layout="block"/>
  						<apex:inputText id="idDatasource3" 
  										value="{!Apttus_Config2__PriceDimension__c.Apttus_Config2__Datasource__c}" 
  										size="75" >
  							<apex:actionSupport event="onchange" reRender="idPriceDimensionSection" />				
  						</apex:inputText>
 					</apex:outputPanel>
				</apex:pageBlockSectionItem>
				
				<apex:pageBlockSectionItem rendered="{!isNumericBased}" >
			    	<apex:outputLabel value="{!$ObjectType.Apttus_Config2__PriceDimension__c.Fields.Apttus_Config2__CumulativeDimensionId__c.Label}" 
			    					  for="idCumulativeDimensionId" />
			    	<apex:selectList id="idCumulativeDimensionId" size="1" value="{!Apttus_Config2__PriceDimension__c.Apttus_Config2__CumulativeDimensionId__c}" >
			      		<apex:selectOptions value="{!CumulativeDimensionItems}" />
			      	</apex:selectList>
				</apex:pageBlockSectionItem>
				
				<apex:inputField value="{!Apttus_Config2__PriceDimension__c.Apttus_Config2__Description__c}"/>
				
		    </apex:pageBlockSection>
		    
		</apex:pageBlock>
		
		<c:ProductAttributeLookup id="idProductAttributeLookupComponent" 
			    				  pageController="{!this}" />	
			    			   
	</apex:form>

</apex:page>