<!-- 
    Apttus DocuSign API 
    CMDocuSignManageEnvelope
       
    @2010-2012 Apttus Inc. All rights reserved.
 -->
<apex:page controller="Apttus_CMDSign.CMDocuSignManageEnvelopeController"  showHeader="true" sidebar="true" tabStyle="Apttus__APTS_Agreement__c" action="{!init}">

<Apttus_DocuApi:DocuSignManageEnvelope id="idDocuSignManageEnvelopeComponent"  pageController="{!this}" />
 
</apex:page>