<!--
        Author: Rescian Rey
        Description: Page to clone Fax
        History:
            MAY 21 2015     Rescian Rey         Created Page
-->
<apex:page standardController="Fax__c" extensions="OSM_CloneFaxController" showHeader="true" sidebar="true">
    <apex:outputPanel id="faxID_container">
        <span style="display: none;" id="faxID">{!faxID}</span>
    </apex:outputPanel>
    <apex:form >
        <apex:actionFunction name="cloneFax" action="{!cloneFax}" reRender="faxID_container" oncomplete="redirectToDetailPage();"/>
    </apex:form>

    <apex:includeScript value="{!URLFOR($Resource.jQuery_UI_1_10_2, 'js/jquery-1.9.1.min.js')}" />
    <apex:includeScript value="/support/console/33.0/integration.js"/>
    <script type="text/javascript">
        var isInConsole = sforce.console.isInConsole();

        function redirectToDetailPage(){
            var faxID = $('span#faxID').text();
            var url = "/" + faxID;

            if(isInConsole){
                url = url + '?isdtp=vw';
            }
            window.location = url;
            refreshPrimaryTab();
        }

        // refreshes main tab
        function refreshPrimaryTab(){
            sforce.console.getEnclosingPrimaryTabId(refreshPrimaryTabCallback);
        }

        var refreshPrimaryTabCallback = function(result){
            sforce.console.refreshPrimaryTabById(result.id, true);
        }
        // clone fax
        cloneFax();
    </script>
</apex:page>