<apex:page standardController="OSM_Criteria__c" extensions="OSM_PayorTestCriteriaExt" sidebar="false" id="page">
<apex:form id="formId">
    <apex:pageBlock id="pageBlock1">

        <apex:pageBlockButtons id="pageBlockButtons">
            <apex:commandButton rendered="{!NOT(isEdit)}" action="{!saveRecord}" value="Save"/>
            <apex:commandButton rendered="{!NOT(isEdit)}" action="{!cancelRecord}" value="Cancel" immediate="true"/>
            <apex:commandButton rendered="{!isEdit}" action="{!editRecord}" value="Edit"/>
        </apex:pageBlockButtons>
        
        <apex:pageBlockSection title="Payor Test Criteria Detail" id="pageBlockSection1">
            
            <apex:outputField rendered="{!isEdit}" value="{!OSM_Criteria__c.OSM_Payor__c}" id="ipayorId"/>
            <apex:inputField required="true" rendered="{!NOT(isEdit)}" value="{!OSM_Criteria__c.OSM_Payor__c}" id="opayorId"/>
            <apex:outputField value="{!OSM_Criteria__c.RecordTypeId}"/>
            <!--<apex:inputField rendered="{!NOT(isEdit)}" value="{!OSM_Criteria__c.RecordTypeId}"/>-->
            <apex:outputField rendered="{!isEdit}" value="{!OSM_Criteria__c.OSM_Accrual__c}"/>
            <apex:inputField rendered="{!NOT(isEdit)}" value="{!OSM_Criteria__c.OSM_Accrual__c}"/>
            <apex:outputField rendered="{!isEdit}" value="{!OSM_Criteria__c.OSM_Notes__c}"/>
            <apex:inputField rendered="{!NOT(isEdit)}" value="{!OSM_Criteria__c.OSM_Notes__c}"/>
            <apex:outputField rendered="{!isEdit}" value="{!OSM_Criteria__c.OSM_Line_of_Business__c}"/>
            <apex:inputField required="true" rendered="{!NOT(isEdit)}" value="{!OSM_Criteria__c.OSM_Line_of_Business__c}">
                <apex:actionSupport event="onchange" action="{!updateGridView}" rerender="panelGrid"/>
            </apex:inputField>
            <apex:outputField rendered="{!isEdit}" value="{!OSM_Criteria__c.OSM_Type__c}"/>
            <apex:inputField required="true" rendered="{!NOT(isEdit)}" value="{!OSM_Criteria__c.OSM_Type__c}">
                <apex:actionSupport event="onchange" action="{!updateGridView}" rerender="panelGrid"/>
            </apex:inputField>
                
        </apex:pageBlockSection>
        
        <apex:pageBlockSection title="PTC Grid" columns="2" id="pageBlockSection2">
            <apex:panelGrid id="panelGrid">
                <table>
                    <tr>
                        <td></td><td></td><td>CT</td><td>MP</td><td>AD</td><td>AA</td>
                    </tr>
                    <apex:repeat value="{!CriteriaFieldSets}" var="f">
                    <tr> 
                        <td width="70"></td> 
                        <td>
                            <apex:outputLabel value="{!f.label}"/>
                        </td>
                        <td>
                            <apex:inputCheckbox value="{!ptcGridWrap.cTRecord[f]}" disabled="{!isCT}"/>
                        </td>
                        <td>
                            <apex:inputCheckbox value="{!ptcGridWrap.mPRecord[f]}" disabled="{!isMP}"/>
                        </td>
                        <td>
                            <apex:inputCheckbox value="{!ptcGridWrap.aDRecord[f]}" disabled="{!isAD}"/>
                        </td>
                        <td>
                            <apex:inputCheckbox value="{!ptcGridWrap.aARecord[f]}" disabled="{!isAA}"/>
                        </td>
                    </tr>
                    </apex:repeat>
                </table>
            </apex:panelGrid>
            
            <apex:panelGrid >
                <apex:pageBlockSection columns="1">
                    <apex:outputField rendered="{!isEdit}" value="{!OSM_Criteria__c.OSM_Last_AA_Update__c}"/>
                    <apex:outputField rendered="{!NOT(isEdit)}" value="{!OSM_Criteria__c.OSM_Last_AA_Update__c}"/>
                    <apex:outputField rendered="{!isEdit}" value="{!OSM_Criteria__c.OSM_Eff_Start_Clinical_Criteria__c}"/>
                    <apex:inputField rendered="{!NOT(isEdit)}" value="{!OSM_Criteria__c.OSM_Eff_Start_Clinical_Criteria__c}"/>
                    <apex:outputField rendered="{!isEdit}" value="{!OSM_Criteria__c.OSM_Eff_End_Clinical_Criteria__c}"/>
                    <apex:inputField rendered="{!NOT(isEdit)}" value="{!OSM_Criteria__c.OSM_Eff_End_Clinical_Criteria__c}"/>
                    <apex:outputField rendered="{!isEdit}" value="{!OSM_Criteria__c.OSM_Policy_ID_Clinical_Criteria__c}"/>
                    <apex:inputField rendered="{!NOT(isEdit)}" value="{!OSM_Criteria__c.OSM_Policy_ID_Clinical_Criteria__c}"/>
                    <apex:outputField rendered="{!isEdit}" value="{!OSM_Criteria__c.OSM_Policy_Status__c}"/>
                    <apex:inputField rendered="{!NOT(isEdit)}" value="{!OSM_Criteria__c.OSM_Policy_Status__c}"/>
                </apex:pageBlockSection>
            </apex:panelGrid>
            
        </apex:pageBlockSection>
        
        <apex:pageBlockSection title="Criteria Validation (Criteria Evaluation)" id="pageBlockSection3">
        
            <apex:outputField rendered="{!isEdit}" value="{!OSM_Criteria__c.OSM_PA_SOMN__c}"/>
            <apex:inputField rendered="{!NOT(isEdit)}" value="{!OSM_Criteria__c.OSM_PA_SOMN__c}"/>
            <apex:outputField rendered="{!isEdit}" value="{!OSM_Criteria__c.OSM_Eff_Start_Criteria_Validation__c}"/>
            <apex:inputField rendered="{!NOT(isEdit)}" value="{!OSM_Criteria__c.OSM_Eff_Start_Criteria_Validation__c}"/>
            <apex:outputField rendered="{!isEdit}" value="{!OSM_Criteria__c.OSM_Billing_Modifiers__c}"/>
            <apex:inputField rendered="{!NOT(isEdit)}" value="{!OSM_Criteria__c.OSM_Billing_Modifiers__c}"/>
            <apex:outputField rendered="{!isEdit}" value="{!OSM_Criteria__c.OSM_Eff_End_Criteria_Validation__c}"/>
            <apex:inputField rendered="{!NOT(isEdit)}" value="{!OSM_Criteria__c.OSM_Eff_End_Criteria_Validation__c}"/>
                         
        </apex:pageBlockSection>
        
    </apex:pageBlock>
</apex:form>
</apex:page>