<apex:page standardController="Contact">
<div style="background: #FF3300; padding: 2px; font-weight: bold; font-size: 1.1em; color: white; height: 56px;">
<div style="float: right; margin-top: 15px; margin-right: 6px;">{!IF(ISBLANK(Contact.OSM_Patient_ID__c), '', Contact.OSM_Patient_ID__c)}</div>
<div style="margin-top: 15px; margin-left: 6px;">Patient{!IF(ISBLANK(Contact.Name), '', ': ' + Contact.Name)}</div>
</div>
</apex:page>